@use "_variables" as *;
@use "sass:color";

.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1rem 0;
    border-bottom: 2px solid $color-theme;
    a{
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        &.selected{
            color: $color-theme;
        }
        &:hover{
            cursor: pointer;
        }
    }
}