@use '_variables' as *;
@use "sass:color";
@use './mixins' as *;

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column; 
  gap: 1rem;

  .delete_group_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    .delete_group_card {
      border-radius: 1rem;
      border: 2px solid white;
      padding: 1rem;
      background-color: $color-bg;
      &:hover {
        background-color: $color-theme-hover;
        cursor: pointer;
      }
    }
  }

  .update_group_section{
    padding: 1rem 0;

    .input_search_group{
      width: 100%;
      padding: 0.7rem;
      border-radius: $radius;
      border: 1px solid #ccc;
      outline: none;
      font-size: 1rem;
      background-color: $color-bg;
      color: $color-text;
    }

    .update_group_container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem 0;

      .update_group_card {
        border-radius: 1rem;
        border: 2px solid white;
        padding: 1rem;
        background-color: $color-bg;
        &:hover {
          background-color: $color-theme-hover;
          cursor: pointer;
        }
      }
    } 

    .buttons_edit_group_section{
       display: flex;
       justify-content: space-between;
       margin-top: 1rem;   
       button{
         @include button-style;
         width: 10rem;
         padding: 0.8rem 0;
         font-size: 1rem;
         background-color: $color-bg;
         &:hover {
              background-color: $color-bg;
         }
         &:active {
              background-color: $color-theme-hover;
         }
       }
    }
  }
}