@use '_variables' as *;
@use "sass:color";
@use './mixins' as *;

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column; 
  gap: 1rem;

  .delete_user_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    .delete_user_card {
      border-radius: 1rem;
      border: 2px solid white;
      padding: 1rem;
      background-color: $color-bg;
      &:hover {
        background-color: $color-theme-hover;
        cursor: pointer;
      }
    }
  }

  .update_user_section{
    padding: 1rem 0;

    .input_search_user{
      width: 100%;
      padding: 0.7rem;
      border-radius: $radius;
      border: 1px solid #ccc;
      outline: none;
      font-size: 1rem;
      background-color: $color-bg;
      color: $color-text;
    }

    .update_user_container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem 0;

      .update_user_card {
        border-radius: 1rem;
        border: 2px solid white;
        padding: 1rem;
        background-color: $color-bg;
        &:hover {
          background-color: $color-theme-hover;
          cursor: pointer;
        }
      }
    } 

    .buttons_edit_user_section{
       display: flex;
       justify-content: space-between;
       margin-top: 1rem; 
      section{
        display: flex;
        gap: 1rem;
      }
       
      .saveBtn {
        background: $color-success;
        border: none;
        padding: 8px 12px;
        border-radius: 6px;
        color: white;
        cursor: pointer;
        font-weight: bold;

        &:hover {
          background: color.scale($color-success, $lightness: -10%);
        }
      }

      .cancelBtn {
        background: $color-bg;
        border: none;
        padding: 8px 12px;
        border-radius: 6px;
        color: white;
        cursor: pointer;
        font-weight: bold;
      
        &:hover {
          background: color.scale($color-bg, $lightness: -10%);
        }
      }

    .removeBtn {
      background: $color-error;
      border: none;
      padding: 8px 12px;
      border-radius: 6px;
      color: white;
      cursor: pointer;
      font-weight: bold;
    
      &:hover {
        background: color.scale($color-error, $lightness: -10%);
      }
    }
    }
  }
}