@use '_variables' as *;
@use "sass:color";

.fullscreen {
  background: $color-bg;
  color: white;
  padding: 20px;
  overflow-y: auto;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    background: $color-theme;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    color: white;
    cursor: pointer;

    &:hover {
      background: $color-theme-hover;
    }
  }
}

.title {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.turniList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


/* Aggiungi turno */
.addSection {
  background: $color-theme;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    padding: 6px;
    border-radius: 6px;
    background: $color-bg;
    border: 1px solid #444;
    color: white;

    &::placeholder {
      color: $color-theme;
      opacity: 1; // su alcuni browser serve per evitare trasparenza
    }
  }

  button {
    background: $color-bg;
    padding: 8px;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;

    &:hover {
      background: $color-theme-hover;
    }
  }
}

.addButtonSection {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  button {
    background: $color-success;
    transition: background 0.2s ease;

    &:hover {
      background: color.adjust($color-success, $lightness: -8%);
    }
  }
}

/* Breakpoint mobile */
@media (max-width: 480px) {
  .title{
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    gap: 0.1rem;
  }
}
