@use '_variables' as *;

/* =============================
   OVERLAY
   ============================= */

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* =============================
   POPUP BOX
   ============================= */

.popup {
  background: $color-text;
  padding: 20px;
  border-radius: 8px;
  width: 32rem;
  animation: popIn 0.2s ease;

  h3 {
    margin-top: 0;
    margin-bottom: 12px;
    color: $color-bg;
  }

  textarea {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    padding: 8px;
    resize: none;
    border-radius: 6px;
    border: 1px solid $color-text;
  }

  /* MOBILE FIX */
  @media (max-width: 480px) {
    width: 90%;
    max-height: 90vh;
    overflow-y: scroll;
  }

  @media (max-height: 500px) {
    max-height: 80vh;
    overflow-y: scroll;
  }
}

/* =============================
   BUTTONS
   ============================= */

.popupButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 10px;

  button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: $color-theme;
    color: $color-text;
  }
}

/* Animazioni */
@keyframes popIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
